<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>controllers.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controllers.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddBankCardServlet</servlet-name>
        <servlet-class>controllers.userControllers.AddBankCardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBankCardServlet</servlet-name>
        <url-pattern>/AddBankCardServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CardInformationServlet</servlet-name>
        <servlet-class>controllers.userControllers.CardInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CardInformationServlet</servlet-name>
        <url-pattern>/CardInformationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CardOperationsServlet</servlet-name>
        <servlet-class>controllers.userControllers.CardOperationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CardOperationsServlet</servlet-name>
        <url-pattern>/CardOperationsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BlockBankAccountServlet</servlet-name>
        <servlet-class>controllers.userControllers.BlockBankAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlockBankAccountServlet</servlet-name>
        <url-pattern>/BlockBankAccountServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddMoneyServlet</servlet-name>
        <servlet-class>controllers.userControllers.AddMoneyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMoneyServlet</servlet-name>
        <url-pattern>/AddMoneyServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WithdrawMoneyServlet</servlet-name>
        <servlet-class>controllers.userControllers.WithdrawMoneyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WithdrawMoneyServlet</servlet-name>
        <url-pattern>/WithdrawMoneyServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UnblockAccountServlet</servlet-name>
        <servlet-class>controllers.adminControllers.UnblockAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnblockAccountServlet</servlet-name>
        <url-pattern>/UnblockAccountServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InitializeBankAccountsServlet</servlet-name>
        <servlet-class>controllers.adminControllers.InitializeBankAccountsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitializeBankAccountsServlet</servlet-name>
        <url-pattern>/InitializeBankAccountsServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>InitializeUsersServlet</servlet-name>
        <servlet-class>controllers.adminControllers.InitializeUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitializeUsersServlet</servlet-name>
        <url-pattern>/InitializeUsersServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InitializeBankCardsServlet</servlet-name>
        <servlet-class>controllers.adminControllers.InitializeBankCardsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitializeBankCardsServlet</servlet-name>
        <url-pattern>/InitializeBankCardsServlet</url-pattern>
    </servlet-mapping>
</web-app>